.Searchbar {

    background-color: rgba(152, 201, 111, 0.747);
    padding-top: 15px;
    height: 80px;
    background-size: cover;
  
    display: flex;
    justify-content: flex-start;
    position: fixed;
  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  
  .Searchbar .SearchForm {
    margin: 0 auto;
    max-width: 700px;
    height: 40px;
    background: rgb(192, 212, 182);
    background: rgba(241, 245, 9, 0.2);
    border-radius: 3px;
    border: 1px solid #fff;
  }
  
  .Searchbar .SearchForm .SearchFormInput {
    max-width: 370px;
    padding: 10px 5px;
    float: left;
    color: rgb(5, 54, 1);
    font-weight: 800;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }
  
  .Searchbar .SearchForm .SearchFormInput:focus {
    outline: 0;
    background: transparent;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .Searchbar .SearchForm .SearchFormButton {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    fill: rgba(255, 255, 255, 0.8);
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
  }
  
  .Searchbar .SearchForm .SearchFormButton:hover {
    background: rgba(255, 255, 255, 0.8);
    fill: #444;
  }
  
  .Searchbar .SearchForm .SearchFormButton:active {
    -webkit-box-shadow: 0px 0px 12px 0px #e1e1e1;
    box-shadow: 0px 0px 12px 0px #e1e1e1;
  }
  
  .Searchbar .SearchForm .SearchFormButton:focus {
    outline: 0;
  }